global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'gateway'
    static_configs:
      - targets: ['gateway:8080']

  - job_name: 'controlplane'
    static_configs:
      - targets: ['controlplane:8081']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector:8889']

